.mapafundo{
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
}
.botaotestediv {
    background: #f1f8ee;
    height: 980px;

}

.mapaview{
    width: 1200px;
    height: 600px;
    border-radius: 10px;
    padding-top: 20px;
    box-shadow: rgba(17, 12, 46, 0.15) 0px 88px 100px 10px;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    scale:auto;
}

.encontre{
padding-top: 120px;
font-size: 2.5rem;
text-align: center;
position: flex;
color:#1f5c25 ;
}

.voltarmapa {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    color: #2f7c37;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    margin: 18px 18px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.voltarmapa:hover {
    background-color: #2f7c37;
    color: #fff;
}

