.mapafundo{
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    
}
.botaotestediv {
    background: url(/src/assets/fundomapa.png) no-repeat center / cover;
    height: 1000px;
}



.mapaview{
    width: 1300px; /* Garante que ocupe 100% da largura disponível */
    height: 680px;
    
    padding: 0; /* Remove qualquer padding */
     border: none !important;
    padding-top: 20px;
    box-shadow: rgba(17, 12, 46, 0.105) 0px 5px 5px ;
    align-items: center;
    justify-content: center;
    align-items: center;
    justify-items: center;
    border: none; /* Remove qualquer borda */
     display: block; /* Garante que seja tratado como um bloco */
}

.encontre{
padding-top: 120px;
font-size: 2.5rem;
text-align: center;
position: flex;
color:#1f5c25 ;
}

.voltarmapa {
    position: absolute;
    display: flex;
    align-items: center;
    gap: 8px;
    background-color: transparent;
    color: #2f7c37;
    font-size: 1.1rem;
    font-weight: 600;
    border: none;
    border-radius: 10px;
    margin: 18px 18px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.voltarmapa:hover {
    background-color: #2f7c37;
    color: #fff;
}

@media(max-width: 1215px){
.mapaview{
    width: 1000px;
}
}


@media(max-width: 1010px){
    .mapaview{
        width: 900px;
    }
    }

    

@media(max-width: 905px){
    .mapaview{
        width: 700px;
    }
    }

    
@media(max-width: 715px){
    .mapaview{
        width: 500px;
    }
    }

    
@media(max-width: 520px){
    .mapaview{
        width: 420px;
        height: 750px;
    }
    .encontre{
        padding-top: 100px;
        font-size: 1.9rem;
    }
   
    }