.custom-contentadmin {
    gap: 15px;
}


.management__boxview {
    display: flex;
    gap: 20px;
}

.management__boxview-button {
    cursor: pointer;
    border: none;
    border-radius: 8px;
    background-color: #fff;
    box-shadow: 0 0 0 0.5px rgba(0, 0, 0, 0.3);
    padding: 5px 10px;
    transition: box-shadow 0.3s, background-color 0.3s;
    font-size: 1rem;
}

.management__boxview-button:hover {
    box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.5);
    background-color: #f0f0f0;
    color: #fff;
}

.management__boxview-button:focus,
.management__boxview-button.active {
    outline: none;
    box-shadow: 0 0 0 1px rgba(0, 0, 255, 0.5);
    background-color: #6583b1;
    color: white;
}







