@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&display=swap');

body{
    background-color: #fafafa;
}
.container {
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    font-family: "Poppins";
    align-items: center;
    align-content: center;
    color: #121212;
    margin-top: 20px;
    margin-left: 100px;
}

h1 {
    font-size: 36px;
    margin-bottom: 20px;
}

.search-container {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.search-container input {
    padding: 8px;
    font-size: 14px;
    width: 350px;
    background-color: #ced6d1;
}

button {
    padding: 8px 12px;
    background-color: rgb(95, 170, 132);
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
   
}

button:hover {
    background-color: #4c906b;;
}

/* Ajustes na form-container */
.form-container {
    display: flex;
    align-items: center;
    gap: 20px;
    background-color: #7fc08d;
    padding: 20px;
    border-radius: 8px;
    margin-bottom: 20px;
    justify-content: space-between;
/* Distribui os itens de forma uniforme */
}

.form-container .nome, .email{
    width: 60%; /* Todos os inputs terão 30% da largura */
    padding: 8px;
    font-size: 14px;
    background-color: #ffffff;
}

.ADD_button {
    align-self: flex-start;
    height: 50px;
    margin-top: 0;
}
.password-container {
    display: flex;
    position: relative;
    width: 0%; /* Ajuste a largura do campo de senha */
  }

.password-container input {
    width: 300px; 
}


.toggle-password {
    position: absolute;
    top: 50%;
    right: 8px;
    transform: translateY(-50%);
    background: none;
    border: none;
    cursor: pointer;
  }

.toggle-password img {
    width: 24px;
    height: 24px;
    margin-top: 7px;
}


.form-row label {
    display: flex;
   align-items: center;
    scale: 0.7;
    margin-left: -20px;
    color: #121212;
    font-family: "Poppins";
  }
  
.form-row label .ativo{
    
    margin-left: 30px;
  }
  .form-row label .adm{
    position: relative;;
    margin-left: -50px
  }


  .form-row {
    display: flex;
    align-items: center;
    gap: 15px; /* Espaçamento entre os elementos */
  }
  
  .form-row input,
  .form-row .password-container,
  .form-row label {
    flex-basis: 30%; /* Cada elemento ocupa 20% da largura */
  }

.table-container {
    overflow-x: auto;
}

table {
    width: 100%;
    border-collapse: collapse;
    border-radius: 18px;
    margin-top: 20px;
}

td {
    padding: 12px;
    border: 1px solid rgb(214, 214, 190);
    text-align: left;
    font-weight: 500;
    color: #121212;
}

th {
    background-color: #83c491;
    padding: 12px;
    border: 1px solid rgb(214, 214, 190);
    text-align: left;
    font-weight: 500;
    color: #fafafa;
}

.action-buttons {
    display: flex;
    gap: 10px;
    padding-left: 32px;
}

.ADD_button {
    align-self: flex-start;
    height: 50px;
    width: 250px;
    background-color: #5faa84;
    color: white;
    border: none;
    padding: 5px;
    cursor: pointer;
    border-radius: 5px;
  }

.ADD_button:hover {
    background-color: #4c906b;
  }
  

/* Responsividade */
@media (max-width: 768px) {
    .form-container {
        flex-direction: column;
    }

    .form-container input[type="text"], 
    .form-container input[type="password"], 
    .form-container input[type="email"], .password-container{
        width: 100%; /* Em telas menores, os inputs ocuparão 100% da largura */
    }

}
