.profile-container {
    max-width: 1520px;
    margin: 10px 90px ;
    padding: 20px;
    font-family: "Lexend";
    font-weight: 500;
    color: #121212;   
     background: #fafafa; /* Fundo branco do conteúdo principal */

    border-radius: 20px; /* Bordas arredondadas */
    
  }
  
.profile-email-age{
  margin-top: -10px;
}

  .profile-main {
    flex: 1;
    padding: 40px;
    background: #fafafa; /* Fundo branco do conteúdo principal */
    border-radius: 15px; /* Bordas arredondadas internas */
    box-shadow: 1px 1px 20px rgba(0, 0, 0, 0.105); /* Sombra interna */
  }

  .AvatarInput{
  display: none;
 }

  .profile-card {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
    width: 85%;
    background: linear-gradient(to right top, #c7eccd, #bfe4c7,rgba(255, 228, 196, 0.836) 60%,#c1e9ca);
    padding: 20px;
    border-radius: 15px; /* Bordas arredondadas do card */
  }
  
 
  .profile-avatar  {
    width: 90px;
    height: 90px;
    cursor: pointer;
    border-radius: 50%; /* Avatar circular */
    margin-right: 20px;
    background-color: #5a555528; /* Cor de fundo do avatar */
    object-fit:cover; /* Ajusta a imagem para preencher completamente o círculo */
    object-position: center; /* Centraliza a imagem dentro do círculo */
  }

  .EditAvatarPic{
    scale: 0.06;
    margin-left: -115px;
    margin-top: 67px;
    background-color: #c7eccd;
    border-radius: 50%;
    position: absolute;
  }
  .profile-form {
    
    padding: 20px;
    display: grid;
    width: 85%;
    grid-template-columns: repeat(2, 1fr);
    gap: 25px;
    margin-bottom: 10px;

  }


  .profile-form input, select {
    width: 100%;
    margin-top: 15px;
    border-style: none;
    padding: 12px;
    background-color: #dad7d736;
    border-radius: 8px; /* Bordas arredondadas dos inputs */
  }
  .profile-form-group{
    display: flex; 
    flex-direction: column;
  }

.profile-email-section{
    padding-left: 20px;
    padding-top: 10px;
}

.profile-email-section h3{
    margin-bottom: 15px;
}
.invisivel{
  margin-top: 20px;
  visibility: hidden;
}

.profile-email-age, .profile-email-address{
    display: flex;
    padding-bottom: 5px;
}


.MuiOutlinedInput-notchedOutline {
  border: none !important;
  width: 100%;
}

.MuiButtonBase-root  {
  color: #555; /* Ajusta a cor do ícone */
  position: absolute;
  display: flex;
 margin-left: 200px;
}
 .MuiInputAdornment-root{
  position: absolute;
 align-items: center ;
 align-content: center;
 justify-content: center;
 justify-items: center;
left: 500px;
bottom: 10px;
}
.save-button-container {
  width: 100%;
  display: flex;
  position: relative;
  margin-top: -55px;
  justify-content: flex-end; /* Alinha o botão à direita */
  padding-right: 230px; /* Ajuste o valor para controlar o quanto ele fica à direita */
}
