/* styles.css */

/* Estilo geral da tabela */
table {
    width: 100%;
    border-collapse: collapse; /* Remove espaços entre bordas de células */
    margin: 20px 0; /* Margem acima e abaixo da tabela */
  }
  
  /* Estilo das células de cabeçalho */
  th.th-style {
    background-color: #90ca96; /* Cor de fundo do cabeçalho */
    padding: 12px; /* Espaçamento interno */
    text-align: left; /* Alinhamento do texto */
    border-bottom: 2px solid #ddd; /* Linha abaixo do cabeçalho */
    color: #fafafa;
  }
  

  td {
    padding: 20px; 
    border-bottom: 1px solid #ddd; 
    text-align: left; 
  }
  
*
  button.generic-button {
    background-color: #90ca96; 
    color: white; 
    border: none; 
    padding: 8px 12px; 
    margin: 0 5px; 
    cursor: pointer;
    border-radius: 4px; 
    font-size: 14px; 
    transition: 0.3s
  }
  
  button.generic-button:hover {
    background-color: #7db183; 
  }
  