.Footer{
    padding: 0px 70px 70px;
    display: grid;
    grid-template-columns: repeat(4,1fr);
    gap: 3.5rem;
    background: #4c8653 ;  /*#5f9763 e #47854e */
    align-items: center;
}

.conteudofooter h4{
    color: #fafafa;

    font-size: 20px;
    margin-top: 60px;
}

.conteudofooter li{
    padding: 16px 0px 0px 0px;
    list-style-type: none;
}

.conteudofooter li a{
    display: block;
    color: #fafafa;
    font-size: 15px;
    font-weight: 400px;
    transition: all .21s ;
}

.conteudofooter li a:hover{
    transform: translateY(-1px) translateX(-1px);
    font-weight: bold;
   
}

.conteudofooter p{
    color: #d6d6d6;
    line-height: 30px;
}
.LogoNeotech{
    width: 200px;
  margin-left: 11%;
}

.icons a{
    display: inline-block;
    font-size: 22px;
    color: #d6d6d6;
    margin-left: 12%;
    transition: all .40s ease;
}

.icons a:hover{
    transform: translateY(-3px) translateX(-4px);
}

.Emailconteudo{
    text-decoration: none;
    color: #d6d6d6;
    line-height: 30px;
}



/* Estilo dos campos */
.input-containerfooter {
    position: relative;
    margin-bottom: 1.7rem;
    width: 70%;
    margin-bottom: 0px;
    margin-top: 10px;
  }
  
  .input-containerfooter input,
  .input-containerfooter textarea {
    font-size: 1rem;
    width: 100%;
    padding: 1rem;
    font-family: "Lexend";
    border: 0;
    background-color: #fafafa;
    border-radius: 8px;
    outline: none;
    transition: all 0.3s ease-in-out;
    color: #121212;
  }
  
  .input-containerfooter textarea {
    resize: none;
    height: 80px;
  }
  
  /* Label animado */
  .input-containerfooter .labelfooter {
    position: absolute;
    top: 50%;
    left: 15px;
    font-size: 1rem;
    color: #333333d3;
    transform: translateY(-50%);
    transition: all 0.3s ease;
    pointer-events: none;
  }
  
  /* Animação ao focar ou preencher */
  .input-containerfooter input:focus ~ .labelfooter,
  .input-containerfooter textarea:focus ~ .labelfooter,
  .input-containerfooter input:valid ~ .labelfooter,
  .input-containerfooter textarea:valid ~ .labelfooter {
    top: 0;
    padding-top: 12px;
    left: 15px;
    font-size: 0.84rem;
    color:#488042;
    font-weight: 500;
   
  }
  
  
  
  
  /* Botão */
  .botaofooter {
    width: 150px;
    height: 40px;
    text-align: center;
    margin-top: 10px;
    border-radius: 8px;
    background: #5ea767;
    border-style: none;
    color: #fff;
    font-family: 'Lexend', sans-serif;
    font-size: 1rem;
    transition: background-color 0.3s ease, transform 0.2s ease;
  }
  
  .botaofooter:hover {
    background: #33973d;
    transform: scale(1.01);
  }
  
.botaofooter:hover{
    transform: scale(1.01);
    background: #579b5f;
}

@media(min-width:1920px){
    .Footer{
    align-items: center;
    justify-content: center;
    align-content: center;
    width: 100%;
    margin: 0 auto;
    }
}
@media (max-width: 1649px){
    .Footer{
        padding: 50px 5% 40px;
    }

    .botaofooter{
        margin-left: 0;
}


@media (max-width: 1120px){
    .Footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 2rem;
        .botao{
        margin-left: 0%;
    }
    }
}

@media (max-width: 700px){
    .Footer{
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(300px, auto));
        gap: 2.5rem;
    }
    }
}