
body::-webkit-scrollbar{
  display: none;
  width: 100%;
}
body{
  background-color: #90ca96;
  margin: 0;
  padding: 0;
}


.Hero{
  height: 920px;
  background: url('/src/assets/Backgroundhero.png') no-repeat center / cover;
  background-position: center;
  position: relative;
  padding-top: 75px;
  margin-top: 34px;
  text-align: left;
}
.AllTxtHero{
margin-left: 220px;
margin-top: 250px;
}
.TxtHero{
font-size: 4rem;

position: flex;
color:#1f5c25 ;
}
.AllTxtHero{
font-size: 3rem;
color: #fafafa;
padding-top: 0px;
position: flex;
}

.TxtHeroBoasVindas{
font-size: 2.6rem;
color: #fafafa;
font-weight: 700;
position: flex;
display: flexbox;

width: 36%;
border-right: 5px solid #f3f3f3;
white-space: nowrap;
overflow: hidden;
letter-spacing: 5px;
animation:
  typing 2.52s steps(35, end)  ,
  cursor .6s step-end infinite alternate ;
}

@keyframes cursor{
  50%{border-color: transparent}
}


@keyframes typing{
from{width: 0%}

}



.Phoneimg{
  display: flex ;
  width: 38%;
  margin-left: 930px;
  margin-top: -395px;
}
.Serviço{
  height: 1040px;
  background-color:bisque;
  position: flex;
}
.TxtServiço1{
  color: #c54635;
  text-align: center;
  padding-top: 50px;
}
.TxtServiço2{
  font-size:50px;
  color: #2f7c37;
  text-align: center;
  padding-top: 0px;
}
.TxtServiço3{
  font-size: 22px;
  color: #287a30;
  text-align: center;
  padding-top: 2px;
}
.format-container {
  width: 100%;
  max-width: 1142px; /* Largura máxima para grandes telas */

  margin: 0 auto;
  margin-top: 50px;
  align-items: center;
}

.courses_box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  align-items: center;
  padding: 70px 0;
  grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  display: grid;
}
.courses_item {
  -ms-flex-preferred-size: calc(33.33333% - 30px);
  flex-basis: calc(33.33333% - 30px);

  margin: 0 15px 30px;

  overflow: hidden;

  border-radius: 28px;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(200px, auto));
}
.item_link {
  display: block;
  padding: 30px 20px;
  background-color: #7fc08d;

  overflow: hidden;

  position: relative;
}
.item_link:hover,
.item_link:hover .item_date {
  text-decoration: none;
  color: #FFF;
}
.item_link:hover .item_bg {
  -webkit-transform: scale(10);
  -ms-transform: scale(10);
  transform: scale(10);
}
.item_title {
  min-height: 189px;
  margin: 120px 10px 15px;
  overflow: hidden;
  font-weight: bold;
  font-size: 30px;
  color: #fafafa;

  z-index: 1;
  position: relative;
}
.item_date-box {
  font-size: 18px;
  color: #fafafa;

  z-index: 2;
  position: relative;
}
.item_date {
  font-weight: bold;
  color: #2d7534;

  -webkit-transition: color .5s ease;
  -o-transition: color .5s ease;
  transition: color .5s ease
}
.item_bg {
  height: 158px;
  width: 158px;
  background-color: #f9b234;

  z-index: 1;
  position: absolute;
  top: -85px;
  right: -85px;

  border-radius: 50%;

  -webkit-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease;
}

.courses_item:nth-child(2n) .item_bg {
  background-color: #3ecd5e;
}
.courses_item:nth-child(3n) .item_bg {
  background-color: #e44002;
}
.courses_item:nth-child(4n) .item_bg {
  background-color: #e44002;
}
.courses_item:nth-child(5n) .item_bg {
  background-color: #e44002;
}

.counters{
  padding: 1em 2em;
  background: #7fc08d;;   /* #439D4C;*/;  /* ##73b97a;*/;
  color: #fafafa;
  text-align: center;

}
.counters > div{
  max-width: 920px;
  margin: 0 auto;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 3em 3em;
}

.counter{
  position: relative;
   margin-top: 10%;
}

.counter h1{
  font-size: 3em;
  margin-bottom: 0.2em;
}

.counter:not(:nth-child(3))::before{
  content: '';
  background: #fafafa;
  position: absolute;
  width: 2px;
  height: 3em;
  top: 50%;
  transform: translateY(-50%);
  right: -1em;
}

.Contador{
  min-height: 10em;
}
/*Inicio Timeline*/
.timeline{
height: 1550px;
margin-top: 3px;

  background: url('/src/assets/testeorcamento4.png') no-repeat center / cover;
  background-position: center;
/* background: rgb(205,238,174);
background: radial-gradient(circle, rgb(195, 236, 153) 1%, rgb(187, 226, 200) 100%); background-color:rgb(178, 216, 173); */
position: flex;

}

.txtTL1{
color: #c54635;
text-align: center;
}

.txtTL2{
  font-size:50px;
  color: #2f7c37;
  text-align: center;
}
.containerTL{
padding: 1rem;
margin: 0 auto;
max-width: 9000px;
}

.top-section{
text-align: center;
padding: 4rem 0;
margin: 0 auto;
}

.timelineCont{
position: relative;
min-height: 1090px;

}

.timeline h2{
display:flex;
font-size: 28px;
}

.linha{
position: absolute;
z-index: 2;
left: calc(50% - 1px);
width: 2px;
top: 0px;
background-color: #cff8dd;
display: none;
}

.linha:before, .linha::after{
position: absolute;
display: inline;
content: '';
height: 1rem;
width: 1rem;
border-radius: 50%;
background-color: rgb(94, 192, 107);
left: 50%;
transform: translateX(-50%);
}

.linha:after{
bottom: 0;
}

.h2esquer{
margin-left: 560px;
text-align: end;

}
.sectionTL{
top: 0px;
display: flex;
opacity: 0;
transform: translateX(-100%);
transition: 300ms ease-out;
position: relative;
z-index: 1;
margin: 190px 0px;
padding: 1.1rem;
align-items: center;
}

.sectionTL p{
width: 700px;
margin-top: 5px;
text-align: justify;
}

.sectionTL:nth-child(odd) .contentTL{
flex-direction: row-reverse;
transform: translateX(-50%);
margin-left: -730px;
}



.Area{
position: absolute;
display: inline-block;
height: 1rem;
width: 1rem;
border-radius: 50%;
background-color: rgb(94, 192, 107);
left: 50%;
top: 0px;
transform: translateX(-150%);
}

.contentTL{
width: calc(50% - 2rem);
padding-left: 2rem;
margin-top: -15px;

}
.contentTL p{
  color: #333333d0;
  font-weight: 500;
}
.contentTL h2{
font-weight: 700;
color: #2f7c37;
}

.show-me:nth-child(n){
transform: translateX(0);
opacity: 1;
}







/*Fim Timeline*/

/*Inicio Orçamento*/
.Orçamento{
  height: 690px;
  background-color: rgb(255, 232, 204);
  display: flex;
  justify-content: center;
  align-items: center;
  align-content: center;
  justify-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.videocontent{
max-width: 800px;
display: flex;
width: 100%;
border-radius: 20px;
border-bottom-right-radius:215px ;
}

.coluna{
display: grid;
grid-template-columns: repeat(2, 1fr);
grid-gap: 10px;
padding: 8rem 4rem;
}

.conteudo{
text-align: justify;
width: 72%;
}

.conteudo h2{
  padding-top: 2%;
  font-size: 3rem;
  color: #287a30;
  text-align: center;
  padding-bottom: 1.5rem;
}

.conteudo p{
font-weight: bold;
color: #333333d0;
}

.botao2{
  background-color: #4e9155;
  color: rgb(245, 245, 244);
  cursor: pointer;
  padding: 0.90rem ;
  font-size: 1.1rem;
  transition: padding 0.2s;
  border-radius: 8px;
  display: inline-flex;
  margin-top: 20px;
  transition: all .40s ease;
}

.botao2:hover{
transform: scale(1.01);
background-color: #46834c;

}
/*Fim Orçamento*/

/* MEDIA QUERY PARA TELAS INFERIORES A 100% DO ZOOM DA PÁGINA */


@media(min-width:1920px){
.txtimghero{
  max-width: 1920px;
  margin: 0 auto;
}
  .Phoneimg{
    max-width: 1920px;  }

  .coluna{
    justify-content: center;
    justify-items: center;
    margin:  0 auto; 
    max-width: 1920px; }
}
/*MEDIA QUERY DE 1152PX ATÉ ATINGIR A LATERAL DO CARD*/



@media(max-width: 1655px){
  .Phoneimg{
      margin-left: 850px;
      width: 40%;

  }
}


@media(max-width: 1580px){
  .Phoneimg{
      margin-left: 820px;
      width: 40%;

  }
}

@media(max-width: 1455px){
  .Phoneimg{
    width: 40%;
  }
}

@media(max-width: 1365px){
  .Phoneimg{
      margin-left: 740px;
      width: 40%;
      margin-top: -370px;
  }
}

@media(max-width: 1300px){
  .Phoneimg{
      margin-left: 720px;
      margin-top: -360px;
  }
}


@media(max-width: 1200px){
  .Phoneimg{
  display: none;  }
  

  .AllTxtHero{
    margin-left: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
  }
}

@media(max-width: 654px){
  .TxtHeroBoasVindas{
    text-wrap: wrap;
  }
}

@media(max-width: 1470px){
.contentTL p{
  max-width: 600px;
}
.sectionTL:nth-child(odd) p{
  margin-left: 90px;
}
}

@media (max-width: 1280px){
  .contentTL p{
    display: block;
    max-width: 400px;
  }
  .sectionTL:nth-child(odd) p{
    margin-left: 300px;
  }
}

@media (max-width: 1143px){
.courses_box{
      grid-template-columns: repeat(autofit, minmax(200px, 1fr));
      max-width: 1000px;
      align-items: center;
      margin-left: 5%;
      display: flex;
}

 .coluna{
  width: 100%;
  align-items: center;
  justify-content: center;
  justify-items: center;
  align-content: center;

}
}

@media (max-width: 1060px){
.courses_box{   grid-template-columns: repeat(autofit, minmax(200px, 1fr));
  max-width: 1000px;
  align-items: center;
  margin-left: 5%;
  display: flex;
}
.item_title{
  font-size: 26px;
}
}

@media (max-width: 1010px){
.courses_box{
  grid-template-columns: repeat(autofit, minmax(200px, 1fr));
  max-width: 960px;
  align-items: center;
  margin-left: 10px;
  display: grid;
}
}

@media (max-width: 973px){
.courses_box{
  grid-template-columns: repeat(autofit, minmax(200px, 1fr));
  max-width: 800px;
  align-items: center;
  margin-left: 7%;
  display: grid;
}
}


@media(max-width: 932px){
.coluna{
  display: block;
  ;
}
.Orçamento{
  height: 1000px;
}
}

@media (max-width: 882px){
.courses_box{
  grid-template-columns: repeat(autofit, minmax(200px, 1fr));
  align-items: center;
  max-width: 1200px;
  margin-left: 0;
  display: grid;
}

.coluna{
  display: block;
  grid-template-columns: repeat(2, 1fr);
 
}
.contentTL p{
  display: block;
  max-width: 300px;
}
.contentTL h2{
  margin-top: -30px;
}
.sectionTL:nth-child(odd) p{
  margin-left: 400px;
}
}
@media(max-width: 671px){

.contentTL p{
  display: block;
  max-width: 240px;
}


.contentTL h2{
  margin-top: -90px;
}
.sectionTL:nth-child(odd) p{
  margin-left: 460px;
  
}

}
@media(max-width: 620px){
  .timeline{
    height: 1500px;
  }
}
@media (max-width: 597px){
.courses_box{
  grid-template-columns: repeat(autofit, minmax(200px, 1fr));
  align-items: center;
  max-width: 500px;
  margin-left: 0;
  display: grid;
}
.Serviço{
  height: 1560px;
}
.timeline{
  height: 1600px;
}

.sectionTL:nth-child(odd) p{
  margin-left:502px;
}

.sectionTL:nth-child(even) p{
  margin-left:-10px;
}
.contentTL p{
font-size: 15px;
max-width: 200px;}
}
@media (max-width: 492px){
.courses_box{
  grid-template-columns: repeat(1, 1fr);
  align-items: center;
  max-width: 400px;
  margin-left: 0;
  display: grid;
}
.Serviço{
  height: 1970px;
}
}
@media (max-width: 768px) {
  .Orçamento {
    flex-direction: column; /* Empilha vídeo e texto */
    height: 900px; /* Ajusta altura automaticamente */
    padding: 2rem 1rem; /* Reduz padding em telas pequenas */
  }

  .videocontent {
    margin-bottom: 2rem; /* Adiciona espaço entre o vídeo e o texto */
  }

  .conteudo h2 {
    font-size: 2rem; /* Ajusta tamanho do texto */
  }

  .botao2 {
    font-size: 1rem; /* Reduz tamanho do botão */
  }
}
@media(max-width: 470px){
  .timeline{
    height: 1655px;
  }

  .Serviço{
    height: 2030px;
  }
}
@media(max-width: 443px){
  .conteudo {
    width: 110%;
    margin-left:-5px;
    padding-top: 80px ;
    
  }
  .conteudo h2{
   font-size: 36px;
  }
  
  .botao2{
    display:flex;
    text-align: right;
        
   }
  .videocontent{
    scale: 1.6;
    margin: 0 auto;
    border-bottom-right-radius:20px;
  }
  .counter{
    scale: 0.95;
    text-align: start;  

  }
  
  .counter:nth-child(1){
    scale: 0.95;
    padding-top: 5px;
    text-align: start;  
  }
.counters div{
  gap: 2em 3.5em;
}
.counter:not(:nth-child(3))::before {
  content: '';
  background: #fafafa;
  position: absolute;
  width: 2px;
  height: 7em;
  top: 50%;
  left: 132%;

}

  .TxtHero2{
    font-size: 45px;
  }
  .TxtHeroBoasVindas{
    scale: 0.9;
    padding-top: 5px;
  }
  .contentTL p{
    font-size: 12.5px;
    text-align: left;
    max-width: 160px;
  }
  .sectionTL:nth-child(odd) p{
    margin-left: 542px;
  }
  .sectionTL:nth-child(even) h2{
    margin-left:-5px;
  }
  .sectionTL:nth-child(2) p{
   margin-left: 0px;
  }
}

@media(max-width: 403px){
  .counters div{
    max-width: 60px;
    margin-left: 0px;
  }
  .sectionTL h2{
    font-size: 23px;
  }
  .counter:nth-child(1)::before, .counter:nth-child(2)::before, .counter:nth-child(3)::before{
    content: none;
  }
}

@media(max-width: 445px) and (min-width:0){

.Hero{
  background: url('/src/assets/Backgroundheromobile.png') no-repeat center / cover;
}
}