.header{
    position: fixed;
    top: 0px;
    left: 0;
    width: 100%;
    padding: 20px 70px;
    background:linear-gradient(to left, transparent 0.10%, #90ca96 90%);
    display: flex;
    justify-content: space-between;
    align-items: center;
    z-index: 999;
    backdrop-filter: blur(25px);
}

.logo{
    font-size: 32px;
    color: #fafafa;
    font-weight: 700;
}

.navbar a{
    position: relative;
    font-size: 18px;
    color: #fafafa;
    font-weight: 500;
    margin-left: 90px;
    cursor: pointer;
}

.navbar a::before{
    content: '';
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 2px;
    background: #fafafa;
    transition: .3s;
}

.navbar a:hover::before{
    width: 100%;
}

.sidebar a{
    color: #121212;
    height: 10%;
    font-size: 20px;
    text-decoration: none;
    display: flex;
    padding-top: 60px;
    margin-left:20px ;
}
.sidebar{
    position: fixed;
    top: 0;
    right: 0;
    height: 100vh;
    width: 250px;
    z-index: 999;
    background-color: #fafafa;
    box-shadow: -20px 2px 20px rgba(12, 12, 12, 0.105);
    display: none;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}
.Menu{
  scale: 2;
  margin-right: -10px;
  margin-left: 10px;
}

.Fechar{
    scale: 1.7;
    align-items: end;}

.botaomenu{
    display: none;
}

.sub-menu-wrap{
    position: absolute;
    top: 48px;
    right: -80px;
    width: 350px;
    border-bottom-left-radius: 15px;
  }

.sub-menu{
    background-color: #fafafa;
    box-shadow: -1px -1px 10px rgba( 12, 12, 12, 0.2 );
    backdrop-filter: blur(20px);
    padding: 20px;
    margin: 10px;
    border-radius: 10px;
}

.user-info{
  display: flex;
  text-align: center; 
 align-items: center;
 justify-content: center;
 color: #333;
}

.sub-menu hr{
 border-radius: 8px;
  height: 3px;
  width: 95%;
  background: #121212;
  margin: 15px 10px;
}
.sub-menu-link{
  display: flex;
  align-items: center;
  text-decoration: none;
  color: #525252;
  margin: 20px 10px;
}

.sub-menu-link p{
    color: #121212;
    margin-left: 20px;
    text-wrap: nowrap;
    transition: all 0.1s ease-in-out;
    letter-spacing: 0.2px;
}
.sub-menu-link img{
  width: 40px;
  background-color: #e9e9e9;
  border-radius: 50%;
  margin-left: -80px;

}



.sub-menu-link:hover p{
    padding: 4px 2px;
    font-weight: 600;
    scale: 1.02;

}
.sub-menu-link svg {
    width: 40px;
  height: 40px;
  background-color: #90ca96;
  border-radius: 50%;
  padding: 5px;
  margin-left: -80px;
  fill: #ffffff;
  }
  
@media(min-width:2380px){
    .header{
    align-items: center;
    justify-content: center;
      margin: 0 auto;
    }
}

@media (max-width:1367px){
    .FecharMenu{
        display: none;
    }
    .botaomenu{
        display: block;
    }
}

@media(max-width: 460px){
    .sidebar{
        width: 100%;
    }
}

@media(max-width: 470px){
    .header{
        align-items: f;
        align-content: flex-start;
    }
}