.Errorh1 {
    font-size: 4rem;
    color: #2f7c37;
    font-weight: 800;
    padding-top: 200px;
}
.animation{
    padding-top: 10px;
    margin-bottom: -20px;
}

.Errorh3 {
    padding-top: 10px;
    max-width: 700px;
    font-size: 1.6rem;
    color: #29692f;
    font-weight: 00;
    text-align: center;
    /* Centraliza o texto */
}

.ErrorNotFound {
    background: linear-gradient(#ffffff, #ffffff, #a2bba4);
    height: 100vh;
    /* Garante que o contêiner ocupe toda a altura da janela */
    display: flex;
    /* Centraliza o conteúdo */
    flex-direction: column;
    /* Alinha os elementos verticalmente */
    align-items: center;
    /* Centraliza os itens horizontalmente */
    padding-top: 80px;
    /* Adiciona espaço lateral */
    text-align: center;
    /* Centraliza o conteúdo de texto */
}

.voltar {
    display: flex;
    align-items: center;
    gap: 8px;
    /* Torna a posição independente do layout principal */
    margin-top: 20px;
    /* Ajusta a posição do botão em relação ao topo */
    /* Ajusta a posição do botão em relação à esquerda */
    background-color: #2f7c37;
    color: #fafafa;
    font-size: 1.1rem;
    font-weight: 600;
    margin-left: -30px;
    border: none;
    border-radius: 10px;
    cursor: pointer;
    transition: all 200ms ease-in-out;
}

.voltar:hover {
    background-color: #245e2a;
    color: #fff;
}