@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend";
    scroll-behavior: smooth;
}

a{
    text-decoration: none;
}

body{
    background-color: #fafafa;
}