@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@100..900&display=swap');

*, *::before, *::after{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Lexend"!important;
    
}

a{
    text-decoration: none;
}

body{
    background-color: #fafafa;
}
html {
    scroll-behavior: smooth;
  }
  
  #Serviço,
  #Timeline,
  #Orçamento,
  #Footer {
    scroll-margin-top: 120px; /* ou ajuste conforme a altura da sua navbar */
  }
  